.logo-custom {
  height: 16vh;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-custom:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo-custom.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

.logo-custom.vuetify:hover {
  filter: drop-shadow(0 0 2em #2194ffaa);
}

.slide-fade-enter-active {
  transition: all 0.4s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from {
  transform: translateY(100px);
}

.slide-fade-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

.toggleUpDown {
  transition: transform 1s ease-in-out !important;
}

.toggleUpDown.rotate {
  transform: rotate(-180deg);
}